/* *{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
} */

body{
    width: 800px;
    margin: auto;
}

h3:hover{
    color: red;
}

li:nth-of-type(1){
    font-family: Tahoma;
    color: #4E342E;
}

li:nth-of-type(2){
    font-family: Montserrat;
    color: #689F38;
}

li:nth-of-type(3){
    font-family: Raleway;
    color: #EF5350;
}

p:nth-of-type(1){
    color: #999;
}

p:not(:last-child){
    font-size: 26px;
}

p:nth-of-type(even){
    color: #0277bd;
}

footer{
    text-align: center;
}

button{
    border: 2px solid orange;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, violet, cornflowerblue);
    color: white;
    font-size: 26px;
    padding: 15px 30px;
    margin-top: 20px;
}

button:hover{
    border: 4px solid orange;
    font-size: 36px;
    background-image: linear-gradient(to bottom right, cornflowerblue, violet);
    color: black;
}

button:active{
    border: 4px solid cornflowerblue;
    background-image: linear-gradient(to bottom right, orange, violet);
}